<h1>Favorite Pets</h1>

<% @fav_pets.each do |pet| %>
      <section id="favorites-<%=pet.id%>">
        <img style="img-align:center;"><%= image_tag pet.image %></img>
          <br/>
        <%= link_to "#{pet.name}", "/pets/#{pet.id}" %>          
          <br/>
          <br/>
        </section>
<% end  %>