<h1>Applications For <%= "#{@pet.name}" %></h1>

<% if @pet.applications == [] %>
  <h3><%= "There are no applications for this pet" %></h3>
<% else %>
  <% @pet.applications.each do |application| %>
    <p><%= link_to "#{application.name}", "/applications/#{application.id}" %></p>
  <% end %>
<% end %>
