<body class='home'>
<div class="container h-100">
  <div class="row align-items-center h-100">
    <div class="col-8 mx-auto">
      <div class="jumbotron bg-transparent">
        <h1 class="cover-heading">Adopt Don't Shop</h1>
        <p class="lead">There's no need to shop when you can simply adopt.
          Our pets are located all over the country, in a variety of different shelters.
          Whether you are looking for a pet that loves the outdoors, or a pet who
          just loves to cuddle, we can help match you with a new best friend.</p>
      </div>
    </div>
  </div>
</div>
</body>
