<body style="background-color:lightblue;"">
  <header style="font-family:arial;text-align:center">
    <h1 style="font-size:48px"> "Adopt Don't Shop" </h1>
      <br/>
        <%= image_tag "http://cdn.akc.org/content/article-body-image/golden_retriever_puppy_sleeping_dog_pictures.jpg" %>
      <br/>
    <p>"There's no need to shop when you can simply adopt. </p>
    <p>Our pets are located all over the country, in a variety of different shelters.</p>
    <p>Whether you are looking for a pet that loves the outdoors, or a pet who </p>
    <p>just loves to cuddle, we can help match you with a new best friend"</p>
      <br/>
    <%= link_to "Pets Index", "/pets" %>
  <%= link_to "Shelters Index", "/shelters" %>
</body>
